@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --color-body-bg: #dadada;

  --color-header-bg: #ff2323;
  --color-header-font: #ffffff;

  --color-section-card-bg: #ffffff;
  --color-section-card-title: #6f6f6f;

  --color-section-btn-bg: #ff2323;
  --color-section-btn-font: #ffffff;

  --color-notfound-font: #ff2323;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-body-bg);
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

.dflex {
  display: flex;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.mb30 {
  margin-bottom: 30px;
}

.mt30 {
  margin-top: 30px;
}

.section-title {
  color: var(--color-section-card-title);
  font-size: 32px;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 17px;
}